{{- define "main" }}
  <article
    class="card card--page{{ if not .Params.feature }}card--coverless{{ end }}"
  >
    <div class="card__content">
      <h1 class="card__title">{{ .Title }}</h1>
      {{ partialCached "function/content" . .Page }}
    </div>
    <div class="card__content">
      <div class="card__content__pricing">
        <div class="card__pricing">
          <h1>barberhozz</h1>
          <ul>
            <li>150K</li>
            <li>Lansung Datang Ke Rumah</li>
            <li>Tidak Perlu Antri</li>
          </ul>
        </div>
        <div class="card__pricing">
          <h1>barberhozz</h1>
          <ul>
            <li>150K</li>
            <li>Lansung Datang Ke Rumah</li>
            <li>Tidak Perlu Antri</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
{{- end }}

