{{- define "main" }}
  <article
    class="card card--page{{ if not .Params.feature }}card--coverless{{ end }}"
  >
    <div class="card__content">
      <div class="main__logo">
        <a href="/" title="{{ .Site.Params.brand.title }} Home">
          {{ $thumb := resources.Get "img/logo.png" }}
          {{ with $thumb }}
            {{ $thumb := $thumb.Filter (images.Process "resize 120x120 webp q90") }}
            <img
              class="main__logo"
              src="{{ $thumb.RelPermalink }}"
              width="{{ $thumb.Width }}"
              height="{{ $thumb.Height }}"
              alt="loading"
            />
          {{ end }}
        </a>
      </div>
      <h1 class="card__title">{{ .Title }}</h1>

      {{ partialCached "function/content" . .Page }}
      {{ $thumb := resources.Get "img/barber-cuts.png" }}
      {{ with $thumb }}
        {{ $thumb := $thumb.Filter (images.Process "resize 380x480 webp q90") }}
        <img
          src="{{ $thumb.RelPermalink }}"
          alt="loading"
          class="feature__image"
        />
      {{ end }}
    </div>

    <div class="card__content">
      <div class="card__content__pricing">
        <div class="card__pricing">
          <h1>BARBERHOZZ</h1>
          <ul>
            <li>150K</li>
            <li>Lansung Datang Ke Rumah</li>
            <li>Tidak Perlu Antri</li>
            <li>Kualitas Terjamin</li>
            <li>Peralatan lengkap</li>
          </ul>
        </div>
        <div class="card__pricing">
          <h1>Premium</h1>
          <ul>
            <li>60K</li>
            <li>Pilih Barber Terbaik Kami</li>
            <li>Atur jadwal</li>
            <li>Hemat Waktu</li>
            <li>Langsung Potong Rambut</li>
            <li>Tidak perlu Antri Lagi</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
{{- end }}
