button {
  padding: 0.5rem 1.5rem;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-canvas-tint);
  cursor: pointer;
  transition:
    background-color var(--transition-base),
    color var(--transition-base);
  user-select: none;

  &:not(:last-of-type) {
    margin-right: 1em;
  }

  &:hover {
    color: var(--color-canvas-tint);
    background-color: var(--color-text);
  }

  &:disabled,
  &.disabled {
    color: var(--color-text);
    background-color: var(--color-canvas);
    border-color: var(--color-ui-float);
    cursor: not-allowed;
  }
}
